html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;

}

    .triangle-background {
      position: relative;
      width: 100%;
      height: 100%;
      background: white;
    }

    .triangle1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 70vw solid #84D1F2; /* Sky blue */
      border-bottom: 100vh solid transparent;
      
    }

    .triangle2 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-left: 30vw solid #DCEAF7; /* Lighter blue */
      border-top: 50vh solid transparent;
      
    }

    .logo {
      position: absolute; 
      left: 50%;                /* Move left edge to center */
      transform: translateX(-55%); /* Shift back by half width */
      display: flex;
      justify-content: center; /* horizontal center */
      align-items: center;
      height: 35vh; 
      z-index: 500; /* Higher number = in front */
    }

    .optionContainer { 
       position: absolute;
       top: 45%;
       left: 50%;
       transform: translate(-50%, -50%); /* perfectly center */
       z-index: 600;
       display: flex;
    }

    #receiptUpload {
      position: absolute; 
      left: 50%;; 
    }

    #purchaseOrder {
      position: absolute; 
      right: 50%;; 
    }

 

     #approvePurchaseOrder:hover {

      transform: scale(1.05);
      background-color: rgba(128, 128, 128, 0.3); /* light grey */
      transition: transform background-color 0.1s ease;
      box-shadow: 0 4px 15px rgba(109, 108, 108, 0.2);
      cursor: pointer;
    }

    #returnArrow {

      position: fixed; 
      top: 2%;
      left: 1%;
      z-index: 600

    }
    
    #returnArrow:hover {

      background-color: rgba(128, 128, 128, 0.3); /* light grey */
      transition: transform background-color 0.1s ease;
      box-shadow: 0 4px 15px rgba(109, 108, 108, 0.2);
      cursor: pointer;
    }

    .info {
      padding: 10px
    }

    #emailPlaceholder {
      position: fixed; 
      font-weight: bold;
      right: -82.5%;
      z-index: 600
    }

    #jobTitlePlaceholder {
      position: absolute; 
      font-weight: bold;
      right: -84.5%;
      z-index: 600
    }

 

 

    
